{% extends "DLCompareApAppBundle::layout.html.twig" %}

{% block title %}{{ "default.analysis.title" | trans }}{% endblock %}

{% block head %}
<script type="text/javascript" src="{{ asset('bundles/dlcompareapapp/js/tabs.js') }}"></script>
{% endblock %}

{% block main %}
<div class="sub-menu">
	<ul>
		<li><a href="#data">{{ "default.analysis.data.title" | trans }}</a></li>
		<li><a href="#champions">{{ "default.analysis.champions.title" | trans }}</a></li>
		<li><a href="#items">{{ "default.analysis.items.title" | trans }}</a></li>
		<li><a href="#global">{{ "default.analysis.global.title" | trans }}</a></li>
	</ul>
</div>

<a name="data" class="anchor"></a>
<div class="block analysis">
	<h2>{{ "default.analysis.data.title" | trans }}</h2>
	<div class="inner-block">
		<p>
			{{ "default.analysis.data.text" | trans | raw }}
			<br />
			{{ "default.analysis.data.last_update" | trans }}<br/>.
			{{ "default.analysis.data.total_games" | trans }} : <strong>{{ total }}</strong>.
		</p>
		<table>
			<thead>
				<tr>
					<th>{{ "version" | trans }}</th>
					<th>BR</th>
					<th>EUNE</th>
					<th>EUW</th>
					<th>KR</th>
					<th>LAN</th>
					<th>LAS</th>
					<th>NA</th>
					<th>OCE</th>
					<th>RU</th>
					<th>TR</th>
					<th>{{ "total" | trans }}</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>5.11</th>
					<td>{{ stat.countByVersionByRegion('5.11', 'br') }}</td>
					<td>{{ stat.countByVersionByRegion('5.11', 'eune') }}</td>
					<td>{{ stat.countByVersionByRegion('5.11', 'euw') }}</td>
					<td>{{ stat.countByVersionByRegion('5.11', 'kr') }}</td>
					<td>{{ stat.countByVersionByRegion('5.11', 'lan') }}</td>
					<td>{{ stat.countByVersionByRegion('5.11', 'las') }}</td>
					<td>{{ stat.countByVersionByRegion('5.11', 'na') }}</td>
					<td>{{ stat.countByVersionByRegion('5.11', 'oce') }}</td>
					<td>{{ stat.countByVersionByRegion('5.11', 'ru') }}</td>
					<td>{{ stat.countByVersionByRegion('5.11', 'tr') }}</td>
					<th>{{ stat.countByVersion('5.11') }}</th>
				</tr>
				<tr>
					<th>5.14</th>
					<td>{{ stat.countByVersionByRegion('5.14', 'br') }}</td>
					<td>{{ stat.countByVersionByRegion('5.14', 'eune') }}</td>
					<td>{{ stat.countByVersionByRegion('5.14', 'euw') }}</td>
					<td>{{ stat.countByVersionByRegion('5.14', 'kr') }}</td>
					<td>{{ stat.countByVersionByRegion('5.14', 'lan') }}</td>
					<td>{{ stat.countByVersionByRegion('5.14', 'las') }}</td>
					<td>{{ stat.countByVersionByRegion('5.14', 'na') }}</td>
					<td>{{ stat.countByVersionByRegion('5.14', 'oce') }}</td>
					<td>{{ stat.countByVersionByRegion('5.14', 'ru') }}</td>
					<td>{{ stat.countByVersionByRegion('5.14', 'tr') }}</td>
					<th>{{ stat.countByVersion('5.14') }}</th>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<th>{{ "total" | trans }}</th>
					<td>{{ stat.countByRegion('br') }}</td>
					<td>{{ stat.countByRegion('eune') }}</td>
					<td>{{ stat.countByRegion('euw') }}</td>
					<td>{{ stat.countByRegion('kr') }}</td>
					<td>{{ stat.countByRegion('lan') }}</td>
					<td>{{ stat.countByRegion('las') }}</td>
					<td>{{ stat.countByRegion('na') }}</td>
					<td>{{ stat.countByRegion('oce') }}</td>
					<td>{{ stat.countByRegion('ru') }}</td>
					<td>{{ stat.countByRegion('tr') }}</td>
					<th>{{ total }}</th>
				</tr>
			</tfoot>
		</table>
	</div>
</div>

<a name="champions" class="anchor"></a>
<ul class="tabs">
	{% for type in types %}
	<li class="{{ type.name }}">{{ type.name }}</li>
	{% endfor %}
</ul>

{% for type in types %}
<div class="block analysis tab" id="{{ type.name }}">
	<h2>{{ type.name }}</h2>
	<div class="inner-block">
		<p>
			{{ "default.analysis.champions.text" | trans }} : 
			{% for champion in type.champions %}<a href="{{ url('champion_details', {'id': champion.id}) }}">{{ champion.name }}</a>{% if not loop.last %}, {% endif %}{% endfor %}<br />
			<br />
			{{ "default.index.champion.winrate" | trans }} : <a>{{ (type.stats.winRate('5.14') - type.stats.winRate('5.11'))|number_format(2) }}</a><br />
			<br />
			{{ "default.index.champion.kda" | trans }} : <a>{{ (type.stats.kda('5.14') - type.stats.kda('5.11'))|number_format(2) }}</a><br />
		</p>
		<p>
			{% set text = "default.analysis.type." ~ type.name ~ ".text" %}
			{{ text | trans | raw }}
		</p>
		{% for champion in type.champions if champion.note %}
		<p>
			<img src="http://ddragon.leagueoflegends.com/cdn/5.14.1/img/champion/{{ champion.image }}" alt="{{ champion.name }}" title="{{ champion.name }}" />
			{{ champion.note }}<br />
		</p>
		{% endfor %}
	</div>
</div>
{% endfor %}


<a name="items" class="anchor"></a>
<div class="block analysis items">
	<h2>{{ "default.analysis.items.title" | trans }}</h2>
	<div class="inner-block">
		<p>
			{{ "default.analysis.items.text" | trans }}
		</p>
		{% for item in items if item.note %}
		<p>
			<img src="http://ddragon.leagueoflegends.com/cdn/5.14.1/img/item/{{ item.image }}" alt="{{ item.name }}" title="{{ item.name }}" />
			{{ item.note }}<br />
		</p>
		{% endfor %}
	</div>
</div>

<a name="global" class="anchor"></a>
<div class="block analysis items">
	<h2>{{ "default.analysis.global.title" | trans }}</h2>
	<div class="inner-block">
		<p>
			{{ "default.analysis.global.text" | trans }}
		</p>
	</div>
</div>

<script type="text/javascript">
var left = (($('#wrapper').width() - 900) / 2) - 15 - $('.sub-menu').width();
$('.sub-menu').css('left', left);

function setCurrentSubMenuItem()
{
	var scrollTop = $(window).scrollTop();
	var height = $(window).height();

	var last_position = 2000;
	var last_anchor = null;
	$('.anchor').each(function() 
	{
		var offset = $(this).offset().top;
		var position = offset - scrollTop;
		if(position < 0 || position > height) { return; }
		if(position < last_position)
		{
			last_position = position;
			last_anchor = $('.anchor').index($(this));
		}
	});
	var lis = $('div.sub-menu ul li').removeClass('current');
	$(lis.get(last_anchor)).addClass('current');
}
setCurrentSubMenuItem();

$(window).scroll(function() 
{ 
    setCurrentSubMenuItem();
});
</script>
{% endblock %}