{% extends "DLCompareApAppBundle::layout.html.twig" %}

{% block head %}
<script type="text/javascript" src="{{ asset('bundles/dlcompareapapp/js/vendor/jquery.metadata.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/dlcompareapapp/js/vendor/jquery.tablesorter.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/dlcompareapapp/js/vendor/highcharts.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/dlcompareapapp/js/vendor/highcharts-more.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/dlcompareapapp/js/highcharts_skin.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/dlcompareapapp/js/tabs.js') }}"></script>
{% endblock %}

{% block main %}

<ul class="tabs">
    <li class="champions">{{ "default.index.tabs.champions" | trans }}</li>
    <li class="type">{{ "default.index.tabs.type" | trans }}</li>
</ul>

<div class="block info tab" id="type">
    <h2>{{ "default.index.type.title" | trans }}</h2>
    <div class="inner-block">
        <table id="type-list" class="tablesorter">
            <thead>
                <tr class="first">
                    <th rowspan="2" colspan="2" class="name end">{{ "default.index.champion.name" | trans }}</th>
                    <th colspan="3" class="{sorter: false} end">{{ "default.index.champion.pickrate" | trans }}</th>
                    <th colspan="3" class="{sorter: false} end">{{ "default.index.champion.banrate" | trans }}</th>
                    <th colspan="3" class="{sorter: false} end">{{ "default.index.champion.winrate" | trans }}</th>
                    <th colspan="3" class="{sorter: false} end">{{ "default.index.champion.kda" | trans }}</th>
                </tr>
                <tr class="sub">
                    <th>{{ "default.index.champion.514" | trans }}</th>
                    <th>{{ "default.index.champion.511" | trans }}</th>
                    <th class="end">+/-</th>
                    <th>{{ "default.index.champion.514" | trans }}</th>
                    <th>{{ "default.index.champion.511" | trans }}</th>
                    <th class="end">+/-</th>
                    <th>{{ "default.index.champion.514" | trans }}</th>
                    <th>{{ "default.index.champion.511" | trans }}</th>
                    <th class="end">+/-</th>
                    <th>{{ "default.index.champion.514" | trans }}</th>
                    <th>{{ "default.index.champion.511" | trans }}</th>
                    <th class="end">+/-</th>
                </tr>
            </thead>
            <tbody>
                {% for type in types %}
                <tr class="{% if loop.index0 is odd %}odd{% else %}even{% endif %}">
                    <td class="avatar">
                        &nbsp;
                    </td>
                    <td class="name end {{ type.name }}">
                        {{ type.name }}
                    </td>
                    <td>
                        {{ type.stats.pickRate('5.14') }}
                    </td>
                    <td>
                        {{ type.stats.pickRate('5.11') }}
                    </td>
                    <td class="diff">
                        {{ (type.stats.pickRate('5.14') - type.stats.pickRate('5.11'))|number_format(2) }}
                    </td>
                    <td>
                        {{ type.stats.banRate('5.14') }}
                    </td>
                    <td>
                        {{ type.stats.banRate('5.11') }}
                    </td>
                    <td class="diff">
                        {{ (type.stats.banRate('5.14') - type.stats.banRate('5.11'))|number_format(2) }}
                    </td>
                    <td>
                        {{ type.stats.winRate('5.14') }}
                    </td>
                    <td>
                        {{ type.stats.winRate('5.11') }}
                    </td>
                    <td class="diff">
                        {{ (type.stats.winRate('5.14') - type.stats.winRate('5.11'))|number_format(2) }}
                    </td>
                    <td>
                        {{ type.stats.kda('5.14') }}
                    </td>
                    <td>
                        {{ type.stats.kda('5.11') }}
                    </td>
                    <td class="diff">
                        {{ (type.stats.kda('5.14') - type.stats.kda('5.11'))|number_format(2) }}
                    </td>
                </tr>
                {% endfor %}                
            </tbody>
        </table>
    </div>
</div>

<div class="block info tab" id="champions">
    <h2>{{ "default.index.champion.title" | trans }}</h2>
    <div class="inner-block">
        <table id="champion-list" class="tablesorter">
            <thead>
                <tr class="first">
                    <th rowspan="2" colspan="2" class="name end">{{ "default.index.champion.name" | trans }}</th>
                    <th colspan="3" class="{sorter: false} end">{{ "default.index.champion.pickrate" | trans }}</th>
                    <th colspan="3" class="{sorter: false} end">{{ "default.index.champion.banrate" | trans }}</th>
                    <th colspan="3" class="{sorter: false} end">{{ "default.index.champion.winrate" | trans }}</th>
                    <th colspan="3" class="{sorter: false} end">{{ "default.index.champion.kda" | trans }}</th>
                </tr>
                <tr class="sub">
                    <th>{{ "default.index.champion.514" | trans }}</th>
                    <th>{{ "default.index.champion.511" | trans }}</th>
                    <th class="end">+/-</th>
                    <th>{{ "default.index.champion.514" | trans }}</th>
                    <th>{{ "default.index.champion.511" | trans }}</th>
                    <th class="end">+/-</th>
                    <th>{{ "default.index.champion.514" | trans }}</th>
                    <th>{{ "default.index.champion.511" | trans }}</th>
                    <th class="end">+/-</th>
                    <th>{{ "default.index.champion.514" | trans }}</th>
                    <th>{{ "default.index.champion.511" | trans }}</th>
                    <th class="end">+/-</th>
                </tr>
            </thead>
            <tbody>
                {% for champion in champions %}
                <tr class="{% if loop.index0 is odd %}odd{% else %}even{% endif %}">
                    <td class="avatar {{ champion.tags|split(',')[0] }}">
                        <img src="http://ddragon.leagueoflegends.com/cdn/5.14.1/img/champion/{{ champion.image }}" />
                    </td>
                    <td class="name end">
                        <a href="{{ url('champion_details', {'id':champion.id}) }}">
                            {{ champion.name }}
                        </a>
                    </td>
                    <td>
                        {{ attribute(stats,champion.id).pickRate('5.14') }}
                    </td>
                    <td>
                        {{ attribute(stats,champion.id).pickRate('5.11') }}
                    </td>
                    <td class="diff">
                        {{ (attribute(stats,champion.id).pickRate('5.14') - attribute(stats,champion.id).pickRate('5.11'))|number_format(2) }}
                    </td>
                    <td>
                        {{ attribute(stats,champion.id).banRate('5.14') }}
                    </td>
                    <td>
                        {{ attribute(stats,champion.id).banRate('5.11') }}
                    </td>
                    <td class="diff">
                        {{ (attribute(stats,champion.id).banRate('5.14') - attribute(stats,champion.id).banRate('5.11'))|number_format(2) }}
                    </td>
                    <td>
                        {{ attribute(stats,champion.id).winRate('5.14') }}
                    </td>
                    <td>
                        {{ attribute(stats,champion.id).winRate('5.11') }}
                    </td>
                    <td class="diff">
                        {{ (attribute(stats,champion.id).winRate('5.14') - attribute(stats,champion.id).winRate('5.11'))|number_format(2) }}
                    </td>
                    <td>
                        {{ attribute(stats,champion.id).kda('5.14') }}
                    </td>
                    <td>
                        {{ attribute(stats,champion.id).kda('5.11') }}
                    </td>
                    <td class="diff">
                        {{ (attribute(stats,champion.id).kda('5.14') - attribute(stats,champion.id).kda('5.11'))|number_format(2) }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <script type="text/javascript">
            $(document).ready(function() 
            { 
                $(".tablesorter").tablesorter({
                    widgets : ["zebra", "columns"]
                });

                $(".tablesorter").bind("sortEnd", function() 
                {   
                    $(this).find('tbody tr').removeClass('odd');
                    $(this).find('tbody tr:odd').addClass('odd');
                });

                $('td.diff').each(function()
                {
                    var color = (parseFloat($(this).html()) >= 0) ? "green" : "red";
                    $(this).css('color', color);
                }); 
            }); 
        </script>
    </div>
</div>

<style type="text/css">
.Assassin { color: #FF0000; }
.Assassin img { border-color: #FF0000 !important; }
.Fighter { color: #FF4000; }
.Fighter img { border-color: #FF4000 !important; }
.Mage { color: #96f; }
.Mage img { border-color: #96f !important; }
.Marksman { ; }
.Marksman img { border-color: white !important; }
.Support { color: white; }
.Support img { border-color: white !important; }
.Tank { color: #61210B; }
.Tank img { border-color: #61210B !important; }
</style>
{% endblock %}