<!--
              ,,~~--___---,
             /            .~,
       /  _,~             )
      (_-(~)   ~, ),,,(  /'
       Z6  .~`' ||     \ |
       /_,/     ||      ||
 ~~~~~~~~~~~~~~~W`~~~~~~W`~~~~~~~~~
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://ogp.me/ns#">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>{% block title %}{{ "meta.title" | trans }}{% endblock %}</title>

        {% block meta %}
        <meta name="description"        content="{{ "meta.description" | trans }}" />
        <meta name="keywords"           content="{{ "meta.keywords" | trans }}" />

        <meta name="twitter:card" content="summary" />
        <meta name="twitter:creator" content="@AlepH_FR" />
        {% endblock %}

        <link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
        <link href='{{ asset('bundles/dlcompareapapp/css/main.css') }}' rel='stylesheet' type='text/css' media="all"   />
        <link href="{{ asset('bundles/dlcompareapapp/css/foundation.css') }}" rel='stylesheet' type="text/css" media="all" />
        <link href="{{ asset('bundles/dlcompareapapp/js/vendor/joyride-2.1.css') }}" rel='stylesheet' type="text/css" media="all" />

        <link rel="stylesheet"  href="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/themes/smoothness/jquery-ui.css" />
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.0/jquery-ui.min.js"></script>
        {% block head %}{% endblock %}

    </head>

    <body>
        <div id="wrapper">
            <div id="header">
                <div class="content">
                    <h1>
                        <a href="{{ url('homepage') }}">
                            <span>ApApp</span>
                            <img src="{{ asset('bundles/dlcompareapapp/images/apappST.png') }}" />
                         </a>
                    </h1>
                    <ul class="menu">
                        <li class="active"><a href="{{ url('homepage') }}">{{ "layout.menu.global" | trans }}</a></li>
                        <li class=""><a href="{{ url('champion_list') }}">{{ "layout.menu.champions" | trans }}</a></li>
                        <li class=""><a href="{{ url('item_list') }}">{{ "layout.menu.items" | trans }}</a></li>
                        <li class=""><a href="{{ url('analysis') }}">{{ "layout.menu.analysis" | trans }}</a></li>
                        <li class="last"><a href="{{ url('about') }}">{{ "layout.menu.about" | trans }}</a></li>
                    </ul>
                </div>
            </div>

            <div id="main" class="content">
                {% block main %}{% endblock %}
            </div>

            <div id="footer">
                <div class="content">
                    {{ "footer.rights" | trans }}
                </div>
            </div>
        </div>
        <div id="to-top"></div>

        <script type="text/javascript" src="{{ asset('bundles/dlcompareapapp/js/vendor/foundation.min.js') }}"></script>
        <script type="text/javascript">
            $(document).foundation();
            $(function() {
                $(document).tooltip();
            });
        </script>
    </body>
</html>